.start-button {
  padding: 20px 30px;
  position: absolute;
  background-image: url("https://images.unsplash.com/photo-1585637071663-799845ad5212?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8Y2xhc3Nyb29tfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
  background-repeat: no-repeat;
  background: #ffffff;
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  border-radius: 22px;
  line-height: 17px;
  text-align: center;
  color: rgb(249, 244, 253);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(100, 9, 62);
}
.start-button:hover {
  background-color: rgb(245, 231, 231);
  color: rgb(56, 4, 4);
}
